<div>
  <form [formGroup]="form" class="form my-3 d-flex justify-content-start">
    <div class="field mr-3">
      <label class="pr-3">Data inicial</label>
      <p-calendar formControlName="startFilter" [showIcon]="true" dateFormat="dd/mm/yy" [style]="{'width':'250px'}"
        class="px-3">
      </p-calendar>
    </div>
    <div class="field mx-3">
      <label>Data final</label>
      <p-calendar 
        formControlName="endFilter"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [style]="{'width':'250px'}"
        lang="pt-br"
        class="px-3">
      </p-calendar>
    </div>
  </form>
</div>
