<div class="navbar p-0 m-0" [hidden]="currentRouteIsAuth">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex p-1 px-2 my-1 bg-secondary text-light rounded mx-2">
      <a class="logo text-light" routerLink="/">
        <h3>WSI FRONTEND</h3>
      </a>
    </div>
    <div class="button-container mx-5">
      <button class="styled-button" routerLink="/home">Home</button>
      <div class="dropdown">
        <button class="styled-button dropdown-toggle">Exemplo Abas</button>
        <div class="dropdown-content ">
          <button class="styled-button" routerLink="/sample-1">Exemplo 2</button>
          <button class="styled-button" routerLink="/sample-2">Exemplo 1</button>
        </div>
      </div>
      <button class="styled-button" routerLink="/user">Usuarios</button>
    </div>
  </div>
  <div class="user-info">
    <p class="username m-0 mx-2">{{ truncateName() }}</p>
    <button class="btn text-dark mx-3" (click)="handleLogout()" title="Sair">
      <img [src]="logoutIcon" alt="Sair" />
    </button>
  </div>
</div>
