<div class="container d-flex justify-content-center align-items-center vh-100">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="p-4 col-6 rounded shadow"
  >
    <h3 class="text-center mb-3"><b>Login</b></h3>

    <div class="mb-3">
      <label for="email" class="form-label">*Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control form-control-lg"
        autocomplete="off"
        [class.is-invalid]="
          form.get('email')?.invalid && form.get('email')?.touched
        "
      />
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="invalid-feedback"
      >
        <div *ngIf="form.get('email')?.errors?.['required']">
          Email é obrigatório.
        </div>
        <div *ngIf="form.get('email')?.errors?.['email']">Email inválido.</div>
      </div>
    </div>

    <div class="input-group mb-3">
      <input
        [type]="passwordFieldType"
        id="password"
        formControlName="password"
        autocomplete="off"
        class="form-control form-control-lg"
        placeholder="Senha"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <img
          [src]="
            passwordFieldType === 'password'
              ? openEyeIconPath
              : closeEyeIconPath
          "
          alt="toggle"
        />
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-purple_3">Entrar</button>
    </div>
  </form>
</div>
